<div id="header">
  <div id="logo">
    <a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
  </div>
  <div id="navigation">
    <ul>
      <li class="{{navClass currentPage 'home' 'selected'}}">
        <a href="/">Home</a>
      </li>
      <li class="{{navClass currentPage 'travel' 'selected'}}">
        <a href="/travel">Travel</a>
      </li>
      <li class="{{navClass currentPage 'rooms' 'selected'}}">
        <a href="/rooms">Rooms</a>
      </li>
      <li class="{{navClass currentPage 'meals' 'selected'}}">
        <a href="/meals">Meals</a>
      </li>
      <li class="{{navClass currentPage 'news' 'selected'}}">
        <a href="/news">News</a>
      </li>
      <li class="{{navClass currentPage 'about' 'selected'}}">
        <a href="/about">About</a>
      </li>
      <li class="{{navClass currentPage 'contact' 'selected'}}">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
