<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
  <div id="background">
    <div id="page">
      {{> header }}
      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>Travel</h1>
              {{#if message}}
              <p>{{message}}</p>
              {{/if}}
              <ul id="sites">
                {{#each trips}}
                <li>
                  <img src="/images/{{image}}" alt="{{name}}">
                  <h2><a href="/travel">{{name}}</a></h2>
                  <p>
                    {{description}}
                  </p>
                  <p>
                    {{body}}
                  </p>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </div>
</body>
</html>
